<p id="notice"><%= notice %></p>

<p>
  <h1>
    <strong><%= @noticium.titulo %></strong>
  </h1>
</p>

<p>
  <h3>
    <%= @noticium.bajada %>
  <h3>
</p>

<p>
  <h5>
    <%= @noticium.cuerpo %>
  <h5>
</p>

<p>
  <strong>Link:</strong>
  <%= @noticium.link %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
